Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

coverage-ratchet-check:
  name: Check coverage ratchet (Python)
  entry: scripts/check-coverage-ratchet.sh
  language: system
  pass_if: true

rust-coverage-ratchet:
  name: Check coverage ratchet (Rust)
  entry: bash -c 'cd orchestrator && cargo tarpaulin --exclude-files "*/tests/*" --timeout 120 -- --test-threads=1 | grep -E "^\d+.\d+% coverage" || echo "No coverage yet"'
  language: system
  pass_if: true

doc-todo-check:
  name: Check docs for TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME\|XXX" docs/ 2>/dev/null; then echo "⚠️  Documentation contains TODOs"; fi'
  language: system
  pass_if: true

python-complexity:
  name: Python complexity check (radon)
  entry: bash -c 'cd agent && source .venv/bin/activate && radon cc . -a -nb'
  language: system
  pass_filenames: false

python-docs:
  name: Python documentation coverage (interrogate)
  entry: bash -c 'cd agent && source .venv/bin/activate && interrogate . --fail-under=60 --vv'
  language: system
  pass_filenames: false

python-dead-code:
  name: Python dead code detection (pycln)
  entry: bash -c 'cd agent && source .venv/bin/activate && pycln . --check'
  language: system
  pass_filenames: false

Fix issue #242: Document documentation consolidation review
  DOCUMENTATION_CONSOLIDATION_REPORT.md
Due: none

Fix failing test: add await to throttler.enable() call
  orchestrator/src/vm/chaos.rs
Due: rust-coverage-ratchet

Clean up AI-generated temporary markdown files
  AGENT_TASK.md
  COMPLETION_SUMMARY.md
  FIRECRACKER_FEASIBILITY_REPORT.md
  FIX_SUMMARY.md
  GEMINI.md
  HTTP_TRANSPORT_TESTS.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.txt
  ISSUES_QUICK_REFERENCE.txt
  ISSUE_199_COMPLETION_REPORT.md
  ISSUE_93_COMPLETION_REPORT.md
  ISSUE_TRACKER_SUMMARY.md
  MERGE_COMPLETE.md
  PARALLEL_PR_SUMMARY.md
  PHASE2_DISPATCH.md
  PHASE2_SUMMARY.md
  PHASE3_VALIDATION_PROGRAM.md
  PLATFORM_SUPPORT_STATUS.md
  ROADMAP_COMPLETION_REPORT.md
  SESSION_COMPLETION_SUMMARY.md
  WAVE3_COMPLETION_REPORT.md
  WAVE4_AND_5_SUMMARY.md
  WAVE4_COMPLETION_REPORT.md
  WAVE4_IMPLEMENTATION_PLAN.md
  WAVE5_TUI_IMPLEMENTATION_GUIDE.md
  WEEK3_COMPLETION_REPORT.md
  WEEK3_IMPLEMENTATION_PLAN.md
  WEEK4_COMPLETION_REPORT.md
  WEEK4_EXECUTION_SUMMARY.txt
  WEEK4_IMPLEMENTATION_PLAN.md
  WEEK5_COMPLETION_REPORT.md
  WEEK5_IMPLEMENTATION_PLAN.md
  WEEK6_COMPLETION_REPORT.md
  WEEK6_IMPLEMENTATION_PLAN.md
  WEEK7_IMPLEMENTATION_PLAN.md
  chaos_week5_impl.md
  week11_12_production_readiness.md
Due: none

feat(security): Implement payload injection, path traversal, and shellcode blocking tests
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

Fix and enable network_partition module (Issue #259) (#264)
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/network_partition.rs
Due: rust-coverage-ratchet

feat(security): Implement payload injection, path traversal, and shellcode blocking tests (#275)
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

test(agent): Increase loop.py coverage to 73%
  agent/tests/test_loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

test(agent): Increase loop.py coverage to 73% (#277)
  agent/tests/test_loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Implement security tests: payload injection, path traversal, shellcode blocking (#276)
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

docs: Mark HTTP MCP transport as implemented
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/src/mcp/transport.rs
Due: rust-coverage-ratchet

docs: Update pool.rs snapshot documentation
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/src/vm/pool.rs
Due: rust-coverage-ratchet

chore(cargo)(deps): bump dependencies in /orchestrator
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
Due: none

Implement Agent Execution in Orchestrator (Issue #257)
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

Implement Agent Execution in Orchestrator (Issue #257) (#285)
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

Implement security integration tests: env poisoning, fuzzing, path traversal, shellcode blocking
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

Implement security tests: Multi-Vector Attack Scenarios (Issues #288-293)
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

Implement security tests: Cross-Layer Security Validation (Issues #301-306)
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

Implement remaining security tests: Chaos, Logging, Resilience (Issues #294-317)
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

Implement security integration tests: env poisoning, fuzzing, path traversal, shellcode (#318)
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

feat(security): Export security_integration_tests module
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

feat(security): Implement test functions for GitHub issues #298-317
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

fix: Add missing security_integration_tests module declaration
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

feat(security): Implement test functions for GitHub issues #298-317 (#320)
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

Implement security tests for issues 288-297
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

fix(chaos): Fix compiler warnings and add test runner script
  orchestrator/src/vm/chaos.rs
  scripts/run-chaos-tests.sh
Due: rust-coverage-ratchet

test(chaos): Add chaos engineering test results
  .beads/metrics/performance/chaos-summary.txt
  .beads/metrics/performance/chaos_test_results_20260215_233241.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

chore: Update security validation metrics
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

chore: Update security validation metrics (rerun tests)
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

docs: Add Week 11-12 Production Readiness Report
  docs/validation/week11-12-production-readiness-report.md
Due: doc-todo-check

fix: improve doc freshness check to handle code examples in docs
  .github/workflows/coverage-ratchet.yml
Due: none

fix: make ApprovalClient work without Rust binary
  agent/approval_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: add missing rootfs_config field to VmConfig in apple_hv tests
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

fix: ignore problematic macOS tests
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

Week 11-12 Production Readiness Final - Issues #333-336 (#338)
  .github/workflows/coverage-ratchet.yml
  agent/approval_client.py
  docs/validation/week11-12-production-readiness-report.md
  orchestrator/src/vm/apple_hv.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

Fix #340: Add cfg guards for Windows compilation
  orchestrator/src/vm/resource_limits.rs
Due: rust-coverage-ratchet

Fix #339: Add missing imports in apple_hv module
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

Fix cross-platform compilation for apple_hv and resource_limits modules
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/resource_limits.rs
Due: rust-coverage-ratchet

fix(apple_hv): Fix macOS compilation errors in test code
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

fix(hyperv,resource_limits): Fix Windows compilation errors
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/resource_limits.rs
Due: rust-coverage-ratchet

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$
