Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$

fix: Resolve CI failures in PR #32
  orchestrator/Cargo.toml
Due: none

fix: Resolve merge conflicts from rebase against main (#135)
  orchestrator/Cargo.toml
  orchestrator/src/vm/firecracker.rs
Due: rust-coverage-ratchet

style: Remove unused import from firecracker.rs
  orchestrator/src/vm/firecracker.rs
Due: rust-coverage-ratchet

fix: Add cfg guards for Linux-specific VM features (firewall, seccomp)
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/seccomp.rs
Due: rust-coverage-ratchet

chore: Trigger CI run for formatting fix Entire-Checkpoint: 5f44571a6da0
  .ci-trigger
Due: none

fix: Resolve platform-specific conditional compilation errors on macOS
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: Apply rustfmt formatting to vm/mod.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: Replace undefined ensure_firecracker_env() with resources_available()
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

fix: Suppress dead_code warning on Windows for test helper
  orchestrator/src/mcp/transport.rs
Due: rust-coverage-ratchet

fix: Resolve VmHandle config field missing error after rebase
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: Mark Firecracker-dependent tests as ignored integration tests
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

fix: Make integration tests gracefully skip when resources unavailable
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

fix: Update coverage ratchet baseline to reflect unavailable resources
  .coverage-baseline.json
Due: none

Fix compilation errors from rebase
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

fix: Remove duplicate tests module declaration in vm/mod.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

Fix compilation errors from rebase
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: Remove duplicate MAX_SECCOMP_LOG_ENTRIES definition
  orchestrator/src/vm/seccomp.rs
Due: rust-coverage-ratchet

fix: Resolve critical issues from PR 59 review (compilation, firewall, seccomp) (#62)
  PR_REVIEW_59.md
  agent/loop.py
  orchestrator/src/vm/mod.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

Add review for PR #117 (#131)
  PR_REVIEW_117.md
Due: none

fix: Remove non-existent mcp_transport benchmark from Cargo.toml (#78)
  orchestrator/Cargo.toml
Due: none

Fix compilation errors from rebase
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: Remove Windows from CI test matrix
  .github/workflows/ci.yml
Due: none

fix: Resolve Rust test failures in PR #79
  orchestrator/src/main.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

fix: Resolve CI failures in PR #79
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

Fix compilation errors from rebase - use main's version of mod.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: Update test to match new firewall chain naming
  orchestrator/Cargo.toml
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

Review PR #60 (Fixes) (#66)
  .coverage-baseline.json
  orchestrator/Cargo.toml
  orchestrator/src/main.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/seccomp.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

fix: Resolve CI failures in PR #37
  .coverage-baseline.json
  orchestrator/src/vm/firewall.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

Fix PR #34: Implement missing Approval Cliff functions
  agent/tests/test_approval_cliff.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

docs: Add comprehensive PR merge progress tracker (Issue #93)
  ISSUE_93_COMPLETION_REPORT.md
  agent/loop.py
  agent/tests/test_approval_cliff.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: Integrate snapshot pool into VM module and fix tests
  orchestrator/Cargo.toml
  orchestrator/src/vm/firewall.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

feat: Integrate snapshot pool into VM module and fix tests
  orchestrator/src/vm/firewall.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

docs: Add comprehensive PR merge progress tracker (Issue #93)
  ISSUE_93_COMPLETION_REPORT.md
Due: none

fix: Fix network isolation tests and compilation errors
  docs/rootfs-hardening.md
  orchestrator/resources/overlay-init
  orchestrator/src/vm/jailer/config.rs
  orchestrator/src/vm/jailer/mod.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/jailer/tests.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/rootfs/mod.rs
  orchestrator/src/vm/rootfs/tests.rs
Due: rust-coverage-ratchet, doc-todo-check

feat: Complete Firecracker feasibility prototype test
  FIRECRACKER_FEASIBILITY_REPORT.md
  orchestrator/src/main.rs
  orchestrator/src/vm/prototype/README.md
Due: rust-coverage-ratchet

fix: Fix Black formatting and add missing imports in test_approval_cliff.py
  agent/tests/test_approval_cliff.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Add missing approval cliff functions to loop.py
  agent/loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Apply Black formatting with trailing commas to test_approval_cliff.py
  agent/tests/test_approval_cliff.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code
