Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$

feat: implement rootfs security hardening for JIT Micro-VMs
  IMPLEMENTATION_SUMMARY.md
  ROOTFS_QUICK_REFERENCE.md
  orchestrator/src/approval/tui.rs
  orchestrator/src/main.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/integration_tests.rs
  orchestrator/src/vm/rootfs/mod.rs
  orchestrator/src/vm/seccomp.rs
Due: rust-coverage-ratchet

feat: implement real Apple Virtualization.framework VM integration
  ISSUE_199_COMPLETION_REPORT.md
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/approval/tui.rs
  orchestrator/src/main.rs
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

chore: remove Wave 1 approval client files from Apple HV integration PR
  agent/approval_client.py
  agent/tests/test_approval_tui.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-14 23:12:46
  .beads/issues.jsonl
Due: none

feat: implement real Apple Virtualization.framework VM integration
  ISSUE_199_COMPLETION_REPORT.md
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-14 22:23:28
  .beads/issues.jsonl
Due: none

feat: Implement Wave 3 Week 2-3 validation tests
  .beads/metrics/performance/concurrent_10_agents_20260215_040757.json
  .beads/metrics/performance/concurrent_25_agents_20260215_040810.json
  .beads/metrics/performance/concurrent_50_agents_20260215_040823.json
  .beads/metrics/performance/concurrent_5_agents_20260215_040744.json
  .beads/metrics/performance/scaling_comprehensive_20260215_040914.json
  .beads/metrics/performance/week3-4_concurrent_summary.md
  .beads/metrics/reliability/NETWORK_PARTITION_TESTING.md
  .beads/metrics/security/week2-code-execution-report.json
  .beads/metrics/security/week2-code-execution-summary.txt
  agent/tests/generate_security_report.py
  agent/tests/test_security_code_execution.py
  docs/validation/week2-code-execution-defense.md
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/benches/concurrent_agents.rs
  orchestrator/src/bin/run_crash_tests.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/network_partition_tests.rs
  scripts/run-concurrent-tests.sh
Due: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-14 22:51:04
  .beads/issues.jsonl
Due: none

bd sync: 2026-02-14 22:21:45
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

feat #193: Replace placeholder keyword-based reasoning with LLM integration (Phase 2) (#214)
  agent/llm_client.py
  agent/loop.py
  agent/tests/test_llm_integration.py
  docs/llm-integration.md
  orchestrator/src/approval/tui.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

fix: Correct Python code blocks in documentation for PR #216
  docs/validation/performance-benchmarks-quickstart.md
  docs/validation/week2-code-execution-defense.md
Due: doc-todo-check

docs: Create comprehensive Phase 3 validation program plan (issue #201)
  PHASE3_VALIDATION_PROGRAM.md
Due: none

docs: Audit and update documentation for Phase 2 completion (closes #204)
  PARALLEL_PR_SUMMARY.md
  docs/testing/testing.md
Due: doc-todo-check

feat: Implement LLM-based reasoning in think() function (Phase 2)
  SESSION_COMPLETION_SUMMARY.md
  agent/loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(phase3): Week 3 - Security Resource Limits Validation
  .beads/issues.jsonl
  .beads/metrics/security/week3-resource-limits-report.json
  .beads/metrics/security/week3-resource-limits-summary.txt
  WEEK3_IMPLEMENTATION_PLAN.md
  orchestrator/src/vm/chaos.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/resource_limits.rs
  scripts/run-week3-validation.sh
Due: rust-coverage-ratchet

docs: Add Week 3 completion report
  WEEK3_COMPLETION_REPORT.md
Due: none

bd sync: 2026-02-15 10:54:11
  .beads/issues.jsonl
Due: none

docs: Add Week 4 execution summary
  WEEK4_EXECUTION_SUMMARY.txt
Due: none

Week 5: Security Seccomp Validation - Complete
  .beads/issues.jsonl
  .beads/metrics/security/week5-seccomp-validation-report.json
  .beads/metrics/security/week5-seccomp-validation-summary.txt
  WEEK5_COMPLETION_REPORT.md
  WEEK5_IMPLEMENTATION_PLAN.md
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/seccomp_tests.rs
  scripts/run-week5-validation.sh
Due: rust-coverage-ratchet

bd sync: 2026-02-15 11:13:11
  .beads/issues.jsonl
Due: none

docs: Add Phase 3 validation program plan (issue #201)
  PHASE3_VALIDATION_PROGRAM.md
Due: none

docs: Add Week 5-6 Chaos Engineering implementation doc
  chaos_week5_impl.md
Due: none

docs: Add Week 11-12 Production Readiness implementation doc
  week11_12_production_readiness.md
Due: none

test(performance): Add Week 5-6 chaos engineering test results
  .beads/metrics/performance/week5-6-chaos-engineering-report.json
  .beads/metrics/performance/week5-6-chaos-engineering-summary.txt
Due: none

test(production): Add Week 11-12 production readiness test results
  .beads/metrics/production/week11-12-production-readiness-report.json
  .beads/metrics/production/week11-12-production-readiness-summary.txt
Due: none

Add root README.md with installation and usage instructions
  README.md
Due: none

Enable Rust test coverage tracking in CI
  .coverage-baseline.json
Due: none

Fix loop.py test coverage (currently 73%, target 75%)
  agent/tests/test_loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Document HTTP transport tests (Issue #233)
  HTTP_TRANSPORT_TESTS.md
Due: none

fix: Add missing tempfile import and fix approval client bugs
  agent/approval_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Add .await to throttler.enable() calls in chaos tests
  orchestrator/src/vm/chaos.rs
Due: rust-coverage-ratchet

Fix issue #243: Ignore failing test_cpu_throttler_enable_disable
  orchestrator/src/vm/chaos.rs
Due: rust-coverage-ratchet

Fix issue #239: Clean up AI-generated temporary markdown files
  AGENT_TASK.md
  COMPLETION_SUMMARY.md
  FIRECRACKER_FEASIBILITY_REPORT.md
  FIX_SUMMARY.md
  GEMINI.md
  HTTP_TRANSPORT_TESTS.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.txt
  ISSUES_QUICK_REFERENCE.txt
  ISSUE_199_COMPLETION_REPORT.md
  ISSUE_93_COMPLETION_REPORT.md
  ISSUE_TRACKER_SUMMARY.md
  MERGE_COMPLETE.md
  PARALLEL_PR_SUMMARY.md
  PHASE2_DISPATCH.md
  PHASE2_SUMMARY.md
  PHASE3_VALIDATION_PROGRAM.md
  PLATFORM_SUPPORT_STATUS.md
  ROADMAP_COMPLETION_REPORT.md
  SESSION_COMPLETION_SUMMARY.md
  WAVE3_COMPLETION_REPORT.md
  WAVE4_AND_5_SUMMARY.md
  WAVE4_COMPLETION_REPORT.md
  WAVE4_IMPLEMENTATION_PLAN.md
  WAVE5_TUI_IMPLEMENTATION_GUIDE.md
  WEEK3_COMPLETION_REPORT.md
  WEEK3_IMPLEMENTATION_PLAN.md
  WEEK4_COMPLETION_REPORT.md
  WEEK4_EXECUTION_SUMMARY.txt
  WEEK4_IMPLEMENTATION_PLAN.md
  WEEK5_COMPLETION_REPORT.md
  WEEK5_IMPLEMENTATION_PLAN.md
  WEEK6_COMPLETION_REPORT.md
  WEEK6_IMPLEMENTATION_PLAN.md
  WEEK7_IMPLEMENTATION_PLAN.md
  chaos_week5_impl.md
  week11_12_production_readiness.md
Due: none
