Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

coverage-ratchet-check:
  name: Check coverage ratchet (Python)
  entry: scripts/check-coverage-ratchet.sh
  language: system
  pass_if: true

rust-coverage-ratchet:
  name: Check coverage ratchet (Rust)
  entry: bash -c 'cd orchestrator && cargo tarpaulin --exclude-files "*/tests/*" --timeout 120 -- --test-threads=1 | grep -E "^\d+.\d+% coverage" || echo "No coverage yet"'
  language: system
  pass_if: true

doc-todo-check:
  name: Check docs for TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME\|XXX" docs/ 2>/dev/null; then echo "⚠️  Documentation contains TODOs"; fi'
  language: system
  pass_if: true

python-complexity:
  name: Python complexity check (radon)
  entry: bash -c 'cd agent && source .venv/bin/activate && radon cc . -a -nb'
  language: system
  pass_filenames: false

python-docs:
  name: Python documentation coverage (interrogate)
  entry: bash -c 'cd agent && source .venv/bin/activate && interrogate . --fail-under=60 --vv'
  language: system
  pass_filenames: false

python-dead-code:
  name: Python dead code detection (pycln)
  entry: bash -c 'cd agent && source .venv/bin/activate && pycln . --check'
  language: system
  pass_filenames: false

fix(rust): Mark incorrectly-written security integration tests as ignored
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

ci: Add debug commands to CI workflows for investigating exit code 128
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_050144.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_121723.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_122836.json
Due: none

fix(quality-gates): Add autoflake install step that was missing
  .github/workflows/quality-gates.yml
Due: none

fix(ci): Install aiohttp dependency and use pyproject.toml
  .github/workflows/ci.yml
  agent/pyproject.toml
Due: none

refactor: Remove debug commands from CI workflows
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
Due: none

fix(ci): Add pip install -e . to remaining CI workflows
  .github/workflows/ci-unit.yml
  .github/workflows/coverage-ratchet.yml
Due: none

fix(ci): Fix pyproject.toml readme path for cross-platform CI
  agent/README.md
  agent/pyproject.toml
Due: none

fix(ci): Add pytest-asyncio dependency
  agent/pyproject.toml
Due: none

fix: Windows Rust compilation - add platform guards for JailerConfig
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/resource_limits.rs
Due: rust-coverage-ratchet

fix: Update coverage ratchet to match measured value
  .coverage-baseline.json
Due: none

fix: Add missing Python dependencies for test suite (#412)
  agent/pyproject.toml
Due: none

fix(ci): Install missing Python test dependencies
  .github/workflows/ci-unit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-ratchet.yml
Due: none

fix: Add VSOCK availability detection for CI environments
  agent/conftest.py
  agent/vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Skip VSOCK tests in CI environments (#426)
  agent/conftest.py
  agent/vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Add platform detection for cross-platform test compatibility
  agent/conftest.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Platform detection for cross-platform test compatibility (#404)
  agent/conftest.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix(rust): Fix doctest import path in network_partition_tests.rs
  orchestrator/src/vm/network_partition_tests.rs
Due: rust-coverage-ratchet

fix(performance): Make performance tests gracefully skip when resources unavailable
  orchestrator/src/vm/performance_tests.rs
Due: rust-coverage-ratchet

fix(performance): Fix test isolation for reliable CI execution
  orchestrator/src/vm/performance_tests.rs
Due: rust-coverage-ratchet

test(mesh): Add unit tests for Private Mesh Protocol (closes #394)
  agent/tests/test_mesh_protocol.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: add cryptography dependency to pyproject.toml
  agent/pyproject.toml
Due: none

fix: add cryptography to CI dependencies
  .github/workflows/ci-unit.yml
Due: none

fix: add cryptography to all CI workflows
  .github/workflows/ci.yml
  .github/workflows/coverage-ratchet.yml
Due: none

feat(config): Implement actual Firecracker JSON format
  orchestrator/src/vm/config.rs
Due: rust-coverage-ratchet

test: Enable network partition tests in orchestrator
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

feat(vm): Implement snapshot pool VM handle loading
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

docs: Document VM isolation requirement for Python agent
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-17 10:59:35
  .beads/issues.jsonl
Due: none

bd sync: 2026-02-17 11:04:00
  .beads/issues.jsonl
Due: none

bd sync: 2026-02-17 11:06:39
  .beads/issues.jsonl
Due: none

feat(daemon): Implement Daemon Mode core components
  .beads/issues.jsonl
  agent/daemon/__init__.py
  agent/daemon/health.py
  agent/daemon/scheduler.py
  agent/daemon/tools.py
  agent/pyproject.toml
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

chore: Update issue tracking
  .beads/issues.jsonl
Due: none

fix(config): Implement proper Firecracker JSON format
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_151150.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_151305.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_152137.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_152216.json
  orchestrator/src/vm/config.rs
Due: rust-coverage-ratchet

fix(config): Implement proper Firecracker JSON format (#456)
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_151150.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_151305.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_152137.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_152216.json
  orchestrator/src/vm/config.rs
Due: rust-coverage-ratchet

feat(daemon): Implement Daemon Mode core components (#455)
  agent/daemon/__init__.py
  agent/daemon/health.py
  agent/daemon/scheduler.py
  agent/daemon/tools.py
  agent/pyproject.toml
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(daemon): Implement daemon mode components for issues #444-447
  agent/daemon/__init__.py
  agent/daemon/config.py
  agent/daemon/daemon_logging.py
  agent/daemon/lifecycle.py
  agent/daemon/state.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(daemon): implement lifecycle management (0va.4)
  agent/daemon/__init__.py
  agent/daemon/lifecycle.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(daemon): implement configuration system (0va.5)
  agent/daemon/__init__.py
  agent/daemon/config.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(daemon): implement persistent state management (0va.7)
  agent/daemon/__init__.py
  agent/daemon/state.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-17 13:05:37
  .beads/issues.jsonl
Due: none

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$
