Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$

fix(ci): make test_gather_metrics robust for Windows (#515)
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

Implement CLI argument parsing with clap
  orchestrator/src/main.rs
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

Implement tool execution subsystem
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
  orchestrator/src/tools/executor.rs
  orchestrator/src/tools/mod.rs
  orchestrator/src/tools/timeout.rs
  orchestrator/src/tools/validator.rs
Due: rust-coverage-ratchet

Implement Green/Red action classification
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_014941.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_014955.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_015049.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_015101.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/src/approval/classifier.rs
  orchestrator/src/approval/mod.rs
Due: rust-coverage-ratchet

Add security scan to CI
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  Makefile
  SECURITY.md
  agent/.bandit
  agent/pyproject.toml
  docs/testing/security-scanning.md
Due: doc-todo-check

Add property-based tests for Agent Loop
  agent/tests/test_properties.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Write developer documentation
  docs/developer/README.md
  docs/developer/architecture.md
  docs/developer/contributing.md
  docs/developer/setup.md
  docs/developer/testing.md
Due: doc-todo-check

Add property-based tests module structure for MCP client
  orchestrator/src/mcp/mod.rs
Due: rust-coverage-ratchet

Implement VM crash recovery tests
  orchestrator/src/vm/crash_recovery_tests.rs
Due: rust-coverage-ratchet

Add performance benchmark CI
  .github/workflows/performance-benchmarks.yml
  agent/pyproject.toml
  agent/tests/benchmarks/__init__.py
  agent/tests/benchmarks/test_memory_footprint.py
  agent/tests/benchmarks/test_startup_performance.py
  agent/tests/benchmarks/test_tool_latency.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Create performance testing guide
  docs/validation/performance-testing.md
Due: doc-todo-check

fix: Remove trailing whitespace in comments
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

fix: Use MockLLMClient in benchmark tests instead of abstract LLMClient
  agent/tests/benchmarks/test_memory_footprint.py
  agent/tests/benchmarks/test_startup_performance.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix(approval): correct Rust formatting in classifier and metrics
  orchestrator/src/approval/classifier.rs
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

fix: formatting and warnings in tool execution subsystem
  orchestrator/src/metrics.rs
  orchestrator/src/tools/executor.rs
  orchestrator/src/tools/mod.rs
  orchestrator/src/tools/validator.rs
Due: rust-coverage-ratchet

fix(ci): remove trailing whitespace in metrics.rs for formatting compliance
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

fix: remove trailing whitespace in metrics.rs test
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

fix(tests): fix black formatting and mock approval in property tests
  agent/tests/test_properties.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix(security): resolve CI failures in security scanning workflow
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  agent/.bandit
Due: none

fix: add missing property-based tests for MCP client
  orchestrator/src/mcp/mod.rs
  orchestrator/src/mcp/proptests.rs
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

fix(security): handle cargo-audit output and bandit false positives
  .github/workflows/security-scan.yml
  agent/daemon/desktop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: apply cargo fmt to metrics.rs
  orchestrator/src/metrics.rs
Due: rust-coverage-ratchet

fix: handle Windows path detection in test_validate_absolute_path
  orchestrator/src/tools/validator.rs
Due: rust-coverage-ratchet

fix: remove ToolCommand from exports and documentation
  orchestrator/src/tools/executor.rs
  orchestrator/src/tools/mod.rs
Due: rust-coverage-ratchet

fix: add --force flag to cargo-audit install command
  .github/workflows/security-scan.yml
Due: none

fix: correct mock path in MCP client memory test
  agent/tests/benchmarks/test_memory_footprint.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

ci: clean up test artifacts from network partition tests
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260216_164752.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260216_191238.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_001632.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_020947.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_021234.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_021252.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_024109.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_033456.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_151150.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_151305.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_152137.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_152216.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_195718.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_001429.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_001601.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_001616.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_130404.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_233340.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_233607.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

fix(mcp): improve type safety in MCP client
  agent/mcp_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(test): add comprehensive unit tests for agent loop (#524)
  agent/tests/test_loop_coverage.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(tools): implement secure tool execution subsystem
  orchestrator/src/lib.rs
  orchestrator/src/tools/executor.rs
  orchestrator/src/tools/mod.rs
  orchestrator/src/tools/validator.rs
Due: rust-coverage-ratchet

feat(tests): add comprehensive unit tests for orchestrator
  orchestrator/src/approval/action.rs
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

feat(config): add configuration file support for orchestrator
  docs/configuration.md
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/config.example.toml
  orchestrator/src/config.rs
  orchestrator/src/lib.rs
  orchestrator/src/main.rs
Due: rust-coverage-ratchet, doc-todo-check

feat(logging): add structured logging with tracing
  agent/logging_config.py
  agent/loop.py
  agent/pyproject.toml
  agent/tests/test_logging_config.py
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
  orchestrator/src/logging_tests.rs
  orchestrator/src/main.rs
  orchestrator/src/mcp/client.rs
  orchestrator/src/vm/mod.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

feat(gui): Design Rust-based Desktop GUI architecture (Issue #545)
  agent/mcp_client.py
  docs/gui-architecture.md
  docs/gui-framework-justification.md
  docs/gui-ipc-specification.md
  docs/gui-mockups/approval-cliff.txt
  docs/gui-mockups/dashboard.txt
  docs/gui-mockups/log-viewer.txt
  docs/gui-mockups/main-window.txt
  docs/gui-mockups/settings-panel.txt
  docs/mesh-protocol.md
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_013719.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_013859.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_013911.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_202756.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260220_204209.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
  orchestrator/src/mesh/config.rs
  orchestrator/src/mesh/discovery.rs
  orchestrator/src/mesh/error.rs
  orchestrator/src/mesh/messaging.rs
  orchestrator/src/mesh/mod.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code
