Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$

debug(ci): Add debug step for Windows Rust tests (#178)
  .github/workflows/ci-unit.yml
Due: none

feat(hyperv): Implement libwhp API changes for Windows
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix(hyperv): Correct enum variant casing for ProcessorCount
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

fix: Correct unterminated string literal in test_mcp_integration.py
  agent/tests/test_mcp_integration.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Correct string literal syntax errors in main.rs
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

fix: Correct test argument string literal parsing
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

Refactor HypervInstance to use Actor Pattern (#179)
  agent/tests/test_mcp_integration.py
  orchestrator/src/main.rs
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/integration_tests.rs
  orchestrator/src/vm/tests.rs
  orchestrator/src/vm/vsock.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

fix: Gate Unix-only rootfs tests with #[cfg(unix)]
  orchestrator/src/vm/rootfs/tests.rs
Due: rust-coverage-ratchet

feat: Implement macOS VM Backend (#155) (#184)
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

feat: Implement macOS Virtualization.framework VM Backend
  PLATFORM_SUPPORT_STATUS.md
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/benches/snapshot_pool.rs
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/hypervisor.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

Implement HTTP Transport for MCP Servers - Phase 2 (Closes #188)
  CLAUDE.md
  PLATFORM_SUPPORT_STATUS.md
  WAVE3_COMPLETION_REPORT.md
  orchestrator/Cargo.lock
  orchestrator/benches/snapshot_pool.rs
  orchestrator/src/mcp/http_transport.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/hypervisor.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

Add Phase 2 summary documentation (all waves complete)
  PHASE2_SUMMARY.md
Due: none

Fix: Use cross-platform temp_dir() for Windows test compatibility
  orchestrator/src/vm/rootfs/mod.rs
Due: rust-coverage-ratchet

Closes #186: Implement macOS Virtualization.framework VM Backend (#189)
  PLATFORM_SUPPORT_STATUS.md
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/benches/snapshot_pool.rs
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/hypervisor.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/rootfs/mod.rs
Due: rust-coverage-ratchet

Fix hyperv.rs compilation errors: use Arc<Mutex<>> for thread safety
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

Closes #187: Implement Windows WHPX Hypervisor Backend (#190)
  PLATFORM_SUPPORT_STATUS.md
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

feat: Implement Firecracker API integration for VM snapshots
  .agents/CODE_REVIEW_COMPLETE.md
  .agents/MERGE_COMPLETE_FINAL_REPORT.md
  .agents/PARALLEL_ISSUE_EXECUTION_READY.md
  .agents/SESSION_INDEX.md
  .agents/WAVE_COMPLETION_SUMMARY.md
  .agents/WAVE_EXECUTION_INDEX.md
  .agents/WAVE_EXECUTION_PLAN.md
  ISSUES_QUICK_REFERENCE.txt
  ISSUE_TRACKER_SUMMARY.md
  PHASE2_DISPATCH.md
  ROADMAP_COMPLETION_REPORT.md
  orchestrator/src/vm/snapshot.rs
  orchestrator/test_firewall_debug
  orchestrator/test_firewall_debug.rs
Due: rust-coverage-ratchet

Implement Approval Cliff Module - Phase 1-5 Complete
  orchestrator/src/approval/action.rs
  orchestrator/src/approval/diff.rs
  orchestrator/src/approval/history.rs
  orchestrator/src/approval/mod.rs
  orchestrator/src/approval/ui.rs
  orchestrator/src/lib.rs
Due: rust-coverage-ratchet

chore: VM integration and Wave 4 documentation
  IMPLEMENTATION_SUMMARY.txt
  WAVE4_IMPLEMENTATION_PLAN.md
  orchestrator/Cargo.lock
  orchestrator/benches/snapshot_pool.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/hypervisor.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

feat: Add TUI module for Approval Cliff Terminal UI (#200)
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/approval/mod.rs
  orchestrator/src/approval/tui.rs
Due: rust-coverage-ratchet

feat: Implement Phase 2.1 TUI framework (#200)
  orchestrator/Cargo.toml
  orchestrator/src/approval/mod.rs
  orchestrator/src/approval/tui.rs
Due: rust-coverage-ratchet

docs: comprehensive parallel workstream status and execution guide
  PARALLEL_WORKSTREAM_STATUS.md
Due: none

fix: use correct libwhp API for Windows platform
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix: wrap Firecracker API functions in #[cfg(unix)]
  orchestrator/src/vm/snapshot.rs
Due: rust-coverage-ratchet

fix: apply cargo fmt formatting
  orchestrator/src/mcp/http_transport.rs
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

fix: apply cargo fmt formatting
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

docs: clarify HTTP transport integration testing (fixes #196)
  docs/investigation-http-timeout-196.md
  orchestrator/src/mcp/integration.rs
Due: rust-coverage-ratchet, doc-todo-check

test: implement comprehensive MCP client tests with 100% coverage (#198)
  TEST_SUMMARY.md
  agent/tests/test_mcp_client.py
  orchestrator/Cargo.lock
  orchestrator/src/mcp/http_transport.rs
  orchestrator/src/vm/hyperv.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

docs: Add comprehensive TUI implementation guide for Phase 2 (#200)
  WAVE5_TUI_IMPLEMENTATION_GUIDE.md
Due: none

docs: Add Wave 4 & 5 completion summary
  WAVE4_AND_5_SUMMARY.md
Due: none

feat: implement Approval Cliff TUI for Red action authorization (#200)
  agent/approval_client.py
  agent/loop.py
  agent/tests/test_approval_tui.py
  orchestrator/src/approval/mod.rs
  orchestrator/src/approval/tui.rs
  orchestrator/src/main.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code
