Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$

fix: Apply Black formatting with trailing commas to test_approval_cliff.py
  agent/tests/test_approval_cliff.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Docs: PR Merge Progress Tracker (Issue #93)
  ISSUE_93_COMPLETION_REPORT.md
Due: none

Docs: Update CLAUDE.md with VM module and FPF integration documentation
  CLAUDE.md
Due: none

Docs: Update CLAUDE.md with VM module and FPF integration documentation (#150)
  CLAUDE.md
Due: none

Test: Add comprehensive error path coverage for snapshot pool
  orchestrator/src/vm/pool.rs
Due: rust-coverage-ratchet

test: Add property-based tests for jailer config validation
  orchestrator/src/vm/jailer/config.rs
Due: rust-coverage-ratchet

chore: Force cache refresh
  .github/workflows/coverage-ratchet.yml
Due: none

Test: Add integration tests with real external dependencies
  agent/tests/test_real_mcp_integration.py
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/integration_tests.rs
  orchestrator/src/vm/jailer/tests.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/pool.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

fix(orchestrator): apply rustfmt formatting to resolve CI failures
  orchestrator/src/main.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/jailer/config.rs
  orchestrator/src/vm/jailer/mod.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/jailer/tests.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/prototype/mod.rs
  orchestrator/src/vm/prototype/spawn_test.rs
  orchestrator/src/vm/rootfs/mod.rs
  orchestrator/src/vm/seccomp.rs
Due: rust-coverage-ratchet

fix: Apply black formatting to test_real_mcp_integration.py
  agent/tests/test_real_mcp_integration.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Update tests to match current API changes
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/integration_tests.rs
Due: rust-coverage-ratchet

fix: Fix remaining firecracker.rs ownership issue
  orchestrator/src/vm/firecracker.rs
Due: rust-coverage-ratchet

fix: Resolve all Clippy warnings in VM modules
  orchestrator/src/vm/jailer/config.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/rootfs/mod.rs
Due: rust-coverage-ratchet

fix: Update coverage baseline for PR #166
  .coverage-baseline.json
Due: none

fix: Resolve remaining compilation errors and warnings in PR #166
  README.md
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/integration_tests.rs
  orchestrator/src/vm/jailer/tests.rs
Due: rust-coverage-ratchet

fix: Update Rust coverage baseline to 35.4%
  .coverage-baseline.json
Due: none

chore: Apply rustfmt formatting
  orchestrator/src/main.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/integration_tests.rs
  orchestrator/src/vm/jailer/config.rs
  orchestrator/src/vm/jailer/mod.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/jailer/tests.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/prototype/mod.rs
  orchestrator/src/vm/prototype/spawn_test.rs
  orchestrator/src/vm/rootfs/mod.rs
  orchestrator/src/vm/seccomp.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

chore: Apply rustfmt formatting
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/integration_tests.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/jailer/tests.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

docs: Add cross-platform VM research report (#152)
  docs/architecture/cross-platform-research.md
Due: doc-todo-check

feat: Add cross-platform CI and testing framework (#157)
  .github/workflows/ci-unit.yml
  .github/workflows/quality-gates.yml
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

wip: Implement Windows VM backend (#156)
  orchestrator/Cargo.toml
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/tests.rs
Due: rust-coverage-ratchet

feat: Implement Windows VM backend (#156)
  orchestrator/src/vm/firecracker.rs
Due: rust-coverage-ratchet

fix(rust): Fix compilation error in apple_hv.rs test
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

fix(rust): Add platform-specific compilation guards
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/vsock.rs
Due: rust-coverage-ratchet

fix(ci): Correct syntax in quality-gates workflow
  .github/workflows/quality-gates.yml
Due: none

fix(hyperv): Update to new libwhp API
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

feat: Implement Windows VM backend (#172)
  .github/workflows/ci-unit.yml
  .github/workflows/quality-gates.yml
  docs/architecture/cross-platform-research.md
  orchestrator/Cargo.toml
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/hypervisor.rs
  orchestrator/src/vm/jailer/process.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/tests.rs
  orchestrator/src/vm/vsock.rs
Due: rust-coverage-ratchet, doc-todo-check

fix(ci): Fix windows build
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix(build): Fix windows build errors and duplicate function
  .worktrees/pr-173/orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

feat(windows): Final fixes for windows build and jailer guards
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

debug(ci): Add debug step for Windows Rust tests
  .github/workflows/ci-unit.yml
Due: none
