Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

coverage-ratchet-check:
  name: Check coverage ratchet (Python)
  entry: scripts/check-coverage-ratchet.sh
  language: system
  pass_if: true

rust-coverage-ratchet:
  name: Check coverage ratchet (Rust)
  entry: bash -c 'cd orchestrator && cargo tarpaulin --exclude-files "*/tests/*" --timeout 120 -- --test-threads=1 | grep -E "^\d+.\d+% coverage" || echo "No coverage yet"'
  language: system
  pass_if: true

doc-todo-check:
  name: Check docs for TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME\|XXX" docs/ 2>/dev/null; then echo "⚠️  Documentation contains TODOs"; fi'
  language: system
  pass_if: true

python-complexity:
  name: Python complexity check (radon)
  entry: bash -c 'cd agent && source .venv/bin/activate && radon cc . -a -nb'
  language: system
  pass_filenames: false

python-docs:
  name: Python documentation coverage (interrogate)
  entry: bash -c 'cd agent && source .venv/bin/activate && interrogate . --fail-under=60 --vv'
  language: system
  pass_filenames: false

python-dead-code:
  name: Python dead code detection (pycln)
  entry: bash -c 'cd agent && source .venv/bin/activate && pycln . --check'
  language: system
  pass_filenames: false

feat(test): Make E2E workflow test runnable without Firecracker resources
  orchestrator/src/vm/e2e_tests.rs
Due: rust-coverage-ratchet

feat(cli): Add interactive chat mode (issue #370)
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

fix: make handle mutable in chat_mode for Option::take()
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

feat: Firecracker enhancements and VM mode support for Python agent
  agent/loop.py
  agent/vsock_client.py
  orchestrator/src/vm/firecracker.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

feat: Firecracker enhancements and VM mode support for Python agent (#385)
  agent/loop.py
  agent/vsock_client.py
  orchestrator/src/vm/firecracker.rs
Due: coverage-ratchet-check, rust-coverage-ratchet, python-complexity, python-docs, python-dead-code

fix: add missing created_at field in FirecrackerProcess test
  orchestrator/src/vm/firecracker.rs
Due: rust-coverage-ratchet

Fix issue #386: Download and configure Firecracker VM resources
  .gitignore
  scripts/download-firecracker-resources.sh
Due: none

fix(issue-386): Fix VM resources download script paths
  scripts/download-firecracker-resources.sh
Due: none

feat(ci): Add performance tests CI workflow for issue #373
  .github/workflows/ci-perf.yml
Due: none

feat(ci): Add performance tests CI workflow for issue #373 (#389)
  .github/workflows/ci-perf.yml
Due: none

fix(performance): Use real Firecracker in performance tests
  orchestrator/src/vm/performance_tests.rs
Due: rust-coverage-ratchet

fix(performance): Use real Firecracker in performance tests (#391)
  orchestrator/src/vm/performance_tests.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-16 19:22:20
  .beads/issues.jsonl
Due: none

Add future enhancement issues for Phase 2/3 features
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_001632.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

bd sync: 2026-02-16 20:04:05
  .beads/issues.jsonl
Due: none

Add Python tests to improve coverage to 80%
  agent/tests/test_approval_client.py
  agent/tests/test_loop_extra.py
  agent/tests/test_vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(messenger): Add messenger connector framework for 24/7 bot operation
  agent/messenger.example.json
  agent/messenger/__init__.py
  agent/messenger/discord.py
  agent/messenger/server.py
  agent/messenger/telegram.py
  agent/tests/test_messenger.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix(messenger): Fix formatting, mypy errors, and deprecation warnings
  agent/messenger/__init__.py
  agent/messenger/discord.py
  agent/messenger/server.py
  agent/messenger/telegram.py
  agent/tests/test_messenger.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(agent): Add session management to agent loop
  agent/loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(messenger): Implement WhatsApp Business API connector
  agent/messenger/whatsapp.py
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_020947.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

chore(orchestrator): Improve Rust test coverage
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_021234.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_021252.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

bd sync: 2026-02-16 21:14:26
  .beads/issues.jsonl
Due: none

chore: Update issue status
  .beads/issues.jsonl
Due: none

feat(agent): Add session management to agent loop (#403)
  agent/loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(agent): Add session management to agent loop (#402)
  agent/messenger/whatsapp.py
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_020947.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_021234.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_021252.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Add test_loop_extra.py with coverage for Session, SessionManager, ExecutionMode
  agent/tests/test_loop_extra.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Add Rust test coverage status note
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_024109.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
Due: none

feat(approval): Enhance TUI with polished UI and clear action classification
  orchestrator/src/approval/tui.rs
Due: rust-coverage-ratchet

feat(mcp): Add authentication header support to HTTP transport
  orchestrator/src/mcp/http_transport.rs
Due: rust-coverage-ratchet

fix: Remove unused imports causing Dead Code Detection failures
  agent/messenger/discord.py
  agent/messenger/server.py
  agent/messenger/whatsapp.py
  agent/tests/test_messenger.py
  agent/tests/test_vsock_client.py
  agent/vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Increase coverage measurement timeout to prevent failure
  .github/workflows/coverage-ratchet.yml
Due: none

fix: Increase coverage measurement timeout (#415)
  .github/workflows/coverage-ratchet.yml
  agent/messenger/discord.py
  agent/messenger/server.py
  agent/messenger/whatsapp.py
  agent/tests/test_messenger.py
  agent/tests/test_vsock_client.py
  agent/vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(firecracker): Complete Firecracker VM Integration Phase 2
  .beads/issues.jsonl
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_033456.json
  orchestrator/src/vm/firecracker.rs
Due: rust-coverage-ratchet

feat(approval): Implement Approval Cliff UI (Production)
  orchestrator/src/approval/tui.rs
Due: rust-coverage-ratchet

feat(mesh): Implement Private Mesh Protocol (Phase 3)
  agent/mesh.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

chore: Update issue tracking
  .beads/issues.jsonl
Due: none

fix(vsock): Store BufReader persistently to prevent data loss
  orchestrator/src/vm/vsock.rs
Due: rust-coverage-ratchet

fix(seccomp): Allow VSOCK syscalls in Basic whitelist
  orchestrator/src/vm/seccomp.rs
Due: rust-coverage-ratchet

fix: Address dead code detection issues from CI
  agent/messenger/__init__.py
  agent/messenger/telegram.py
  agent/tests/test_vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix(ci): Replace pycln with autoflake for dead code detection
  .github/workflows/quality-gates.yml
Due: none

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$
