Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

coverage-ratchet-check:
  name: Check coverage ratchet (Python)
  entry: scripts/check-coverage-ratchet.sh
  language: system
  pass_if: true

rust-coverage-ratchet:
  name: Check coverage ratchet (Rust)
  entry: bash -c 'cd orchestrator && cargo tarpaulin --exclude-files "*/tests/*" --timeout 120 -- --test-threads=1 | grep -E "^\d+.\d+% coverage" || echo "No coverage yet"'
  language: system
  pass_if: true

doc-todo-check:
  name: Check docs for TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME\|XXX" docs/ 2>/dev/null; then echo "⚠️  Documentation contains TODOs"; fi'
  language: system
  pass_if: true

python-complexity:
  name: Python complexity check (radon)
  entry: bash -c 'cd agent && source .venv/bin/activate && radon cc . -a -nb'
  language: system
  pass_filenames: false

python-docs:
  name: Python documentation coverage (interrogate)
  entry: bash -c 'cd agent && source .venv/bin/activate && interrogate . --fail-under=60 --vv'
  language: system
  pass_filenames: false

python-dead-code:
  name: Python dead code detection (pycln)
  entry: bash -c 'cd agent && source .venv/bin/activate && pycln . --check'
  language: system
  pass_filenames: false

bd sync: update issue tracking
  .beads/issues.jsonl
Due: none

bd sync: update closed issue tracking
  .beads/issues.jsonl
Due: none

Add .env.example with LLM API key configuration
  .env.example
  .gitignore
  INSTALL.md
  QUICKSTART.md
  README.md
  docs/llm-integration.md
Due: doc-todo-check

fix: auto-load .env so bot detects LLM keys without manual source
  QUICKSTART.md
  agent/bot_factory.py
  agent/pyproject.toml
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: add LLM API key fallback mechanism
  .env.example
  agent/bot_factory.py
  agent/llm_client.py
  agent/tests/test_bot_factory.py
  agent/tests/test_llm_fallback.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-18 11:13:41
  .beads/issues.jsonl
Due: none

feat: implement AnthropicLLMClient and enable Anthropic fallback
  agent/llm_client.py
  agent/tests/test_llm_fallback.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: always use fallback chain in get_bot_response for real LLM providers
  agent/llm_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix(ci): install Python dependencies from pyproject.toml
  .github/workflows/ci-unit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-ratchet.yml
  agent/README.md
  agent/create_bot.py
  agent/examples/README.md
  agent/tests/test_247_bot_setup.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Add .env.example for LLM API key configuration (#479)
  .beads/issues.jsonl
  .env.example
  .github/workflows/ci-unit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-ratchet.yml
  .gitignore
  INSTALL.md
  QUICKSTART.md
  README.md
  agent/README.md
  agent/bot_factory.py
  agent/create_bot.py
  agent/examples/README.md
  agent/llm_client.py
  agent/pyproject.toml
  agent/tests/test_247_bot_setup.py
  agent/tests/test_bot_factory.py
  agent/tests/test_llm_fallback.py
  docs/llm-integration.md
Due: coverage-ratchet-check, doc-todo-check, python-complexity, python-docs, python-dead-code

feat(daemon): add advanced bot features for 24/7 operation
  agent/daemon/__init__.py
  agent/daemon/advanced_features.py
  agent/tests/test_advanced_features.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat(daemon): add advanced bot features for 24/7 operation (#481)
  agent/daemon/__init__.py
  agent/daemon/advanced_features.py
  agent/tests/test_advanced_features.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: resolve test compilation and runtime errors
  orchestrator/src/metrics.rs
  orchestrator/src/webhooks/delivery.rs
  orchestrator/src/webhooks/queue.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

Fix CI cross-platform compilation errors
  agent/pyproject.toml
  docs/CI_CROSS_PLATFORM.md
  orchestrator/src/vm/pool.rs
  orchestrator/src/vm/resource_limits.rs
Due: rust-coverage-ratchet, doc-todo-check

Fix pyproject.toml: Use simple string for license (SPDX format)
  agent/pyproject.toml
Due: none

Fix pyproject.toml: Remove license classifier (PEP 639 compliance)
  agent/pyproject.toml
Due: none

Fix pyproject.toml: Add explicit package discovery for setuptools
  agent/pyproject.toml
Due: none

Fix pyproject.toml: Use correct setuptools package discovery syntax
  agent/pyproject.toml
Due: none

fix: add missing mut for partition variable in hyperv.rs
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

Fix cross-platform test failures
  agent/tests/test_advanced_features.py
  agent/tests/test_daemon_config.py
  agent/tests/test_llm_fallback.py
  agent/tests/test_vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Fix cross-platform test failures
  agent/daemon/advanced_features.py
  agent/daemon_config.py
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_001429.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_001601.json
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_001616.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-report.json
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Fix black formatting issues
  agent/daemon/advanced_features.py
  agent/daemon/browser.py
  agent/daemon/config.py
  agent/daemon/daemon_logging.py
  agent/daemon/desktop.py
  agent/daemon/developer_mode.py
  agent/daemon/health.py
  agent/daemon/integration.py
  agent/daemon/integration_example.py
  agent/daemon/lifecycle.py
  agent/daemon/monitoring.py
  agent/daemon/persona.py
  agent/daemon/scheduler.py
  agent/daemon/state.py
  agent/daemon/tools.py
  agent/daemon_config.py
  agent/loop.py
  agent/tests/generate_security_report.py
  agent/tests/performance/agent_benchmarks.py
  agent/tests/test_247_bot_setup.py
  agent/tests/test_advanced_features.py
  agent/tests/test_approval_client.py
  agent/tests/test_bot_factory.py
  agent/tests/test_daemon_config.py
  agent/tests/test_daemon_integration.py
  agent/tests/test_daemon_logging.py
  agent/tests/test_llm_fallback.py
  agent/tests/test_loop.py
  agent/tests/test_loop_extra.py
  agent/tests/test_mesh_protocol.py
  agent/tests/test_security_code_execution.py
  agent/tests/test_skills.py
  agent/tests/test_vsock_client.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Update coverage baseline for Rust (44.2%)
  .coverage-baseline.json
Due: none

Update coverage baseline for Python (63.6%)
  .coverage-baseline.json
Due: none

fix: resolve all clippy warnings (issue #485)
  orchestrator/src/approval/tui.rs
  orchestrator/src/bin/run_chaos_tests.rs
  orchestrator/src/bin/run_security_tests.rs
  orchestrator/src/vm/approval_cliff_tests.rs
  orchestrator/src/vm/chaos.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/firewall_tests.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/pool.rs
  orchestrator/src/vm/resource_limits.rs
  orchestrator/src/vm/seccomp_tests.rs
  orchestrator/src/vm/security_escape_simple.rs
  orchestrator/src/vm/security_integration_tests.rs
  orchestrator/src/webhooks/delivery.rs
  orchestrator/src/webhooks/manager.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

fix: resolve clippy warnings for PR #483
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260219_130404.json
  orchestrator/src/approval/tui.rs
  orchestrator/src/bin/run_chaos_tests.rs
  orchestrator/src/bin/run_security_tests.rs
  orchestrator/src/vm/approval_cliff_tests.rs
  orchestrator/src/vm/chaos.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/firewall_tests.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/pool.rs
  orchestrator/src/vm/resource_limits.rs
  orchestrator/src/vm/seccomp_tests.rs
  orchestrator/src/vm/security_escape_simple.rs
  orchestrator/src/vm/security_integration_tests.rs
  orchestrator/src/webhooks/delivery.rs
  orchestrator/src/webhooks/manager.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

fix: update coverage baseline to match current Rust coverage (44.1%)
  .coverage-baseline.json
Due: none

fix: apply cargo fmt formatting
  orchestrator/benches/concurrent_agents.rs
  orchestrator/benches/performance_baseline.rs
  orchestrator/src/approval/tui.rs
  orchestrator/src/bin/performance_benchmark.rs
  orchestrator/src/bin/run_chaos_tests.rs
  orchestrator/src/bin/run_crash_tests.rs
  orchestrator/src/bin/run_security_tests.rs
  orchestrator/src/main.rs
  orchestrator/src/mcp/http_transport.rs
  orchestrator/src/metrics.rs
  orchestrator/src/metrics_server.rs
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/approval_cliff_tests.rs
  orchestrator/src/vm/chaos.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/firewall.rs
  orchestrator/src/vm/firewall_tests.rs
  orchestrator/src/vm/hyperv.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/network_partition_tests.rs
  orchestrator/src/vm/performance_tests.rs
  orchestrator/src/vm/pool.rs
  orchestrator/src/vm/reliability.rs
  orchestrator/src/vm/reliability_tests.rs
  orchestrator/src/vm/resource_limits.rs
  orchestrator/src/vm/seccomp.rs
  orchestrator/src/vm/seccomp_tests.rs
  orchestrator/src/vm/security_escape_simple.rs
  orchestrator/src/vm/security_integration_tests.rs
  orchestrator/src/vm/vsock.rs
  orchestrator/src/webhooks/delivery.rs
  orchestrator/src/webhooks/manager.rs
  orchestrator/src/webhooks/mod.rs
  orchestrator/src/webhooks/queue.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

fix: update coverage ratchet to 44.0% to match current coverage
  .coverage-baseline.json
Due: none

fix: resolve macOS-specific clippy warnings in apple_hv.rs
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

fix: resolve Rust clippy warnings in orchestrator
  orchestrator/benches/concurrent_agents.rs
  orchestrator/benches/mcp_startup.rs
  orchestrator/benches/performance_baseline.rs
  orchestrator/benches/snapshot_pool.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/resource_limits.rs
  orchestrator/src/vm/seccomp.rs
  orchestrator/src/webhooks/queue.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

fix: resolve Python test failures for Windows compatibility
  agent/tests/test_daemon_config.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: apply cargo fmt to fix formatting issues
  orchestrator/benches/snapshot_pool.rs
Due: rust-coverage-ratchet

fix: apply black formatting to test_daemon_config.py
  agent/tests/test_daemon_config.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Fix Rust clippy warnings in orchestrator (102 errors) (#487)
  orchestrator/benches/concurrent_agents.rs
  orchestrator/benches/mcp_startup.rs
  orchestrator/benches/performance_baseline.rs
  orchestrator/benches/snapshot_pool.rs
  orchestrator/src/vm/config.rs
  orchestrator/src/vm/e2e_tests.rs
  orchestrator/src/vm/firecracker.rs
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/resource_limits.rs
  orchestrator/src/vm/seccomp.rs
  orchestrator/src/webhooks/queue.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

Fix Python test failures for Windows compatibility (#488)
  agent/tests/test_daemon_config.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: Add rate limiting and quota management for agent operations
  .beads/issues.jsonl
  orchestrator/src/lib.rs
  orchestrator/src/rate_limit/config.rs
  orchestrator/src/rate_limit/dashboard.rs
  orchestrator/src/rate_limit/manager.rs
  orchestrator/src/rate_limit/mod.rs
  orchestrator/src/rate_limit/quota.rs
  orchestrator/src/rate_limit/store.rs
Due: rust-coverage-ratchet

feat: Optimize VM startup time to sub-100ms baseline
  .beads/issues.jsonl
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/startup_optimizer.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-19 14:09:32
  .beads/issues.jsonl
Due: none

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$
