Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

coverage-ratchet-check:
  name: Check coverage ratchet (Python)
  entry: scripts/check-coverage-ratchet.sh
  language: system
  pass_if: true

rust-coverage-ratchet:
  name: Check coverage ratchet (Rust)
  entry: bash -c 'cd orchestrator && cargo tarpaulin --exclude-files "*/tests/*" --timeout 120 -- --test-threads=1 | grep -E "^\d+.\d+% coverage" || echo "No coverage yet"'
  language: system
  pass_if: true

doc-todo-check:
  name: Check docs for TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME\|XXX" docs/ 2>/dev/null; then echo "⚠️  Documentation contains TODOs"; fi'
  language: system
  pass_if: true

python-complexity:
  name: Python complexity check (radon)
  entry: bash -c 'cd agent && source .venv/bin/activate && radon cc . -a -nb'
  language: system
  pass_filenames: false

python-docs:
  name: Python documentation coverage (interrogate)
  entry: bash -c 'cd agent && source .venv/bin/activate && interrogate . --fail-under=60 --vv'
  language: system
  pass_filenames: false

python-dead-code:
  name: Python dead code detection (pycln)
  entry: bash -c 'cd agent && source .venv/bin/activate && pycln . --check'
  language: system
  pass_filenames: false

feat: Implement External Integration API with message queue support
  .beads/issues.jsonl
  agent/daemon/INTEGRATION_README.md
  agent/daemon/config.py
  agent/daemon/integration.py
  agent/daemon/integration_example.py
  agent/tests/test_daemon_integration.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

Update beads: Close issue #448 - External Integration API implementation
  .beads/issues.jsonl
Due: none

fix: Remove deprecation warnings in integration module
  agent/daemon/integration.py
  agent/tests/test_daemon_integration.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: Correct aiohttp response handler
  agent/daemon/integration.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-17 14:22:24
  .beads/issues.jsonl
Due: none

feat: implement daemon logging and monitoring
  agent/daemon/monitoring.py
  agent/tests/test_daemon_logging.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement multi-channel messenger support
  agent/messenger/signal.py
  agent/messenger/slack.py
  agent/tests/test_messengers.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: correct pathlib API usage and add missing time import
  agent/daemon/daemon_logging.py
  agent/tests/test_daemon_logging.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement skills and plugins system
  agent/skills/__init__.py
  agent/skills/examples.py
  agent/tests/test_skills.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: correct word count assertion in text analyzer test
  agent/tests/test_skills.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-17 14:40:52
  .beads/issues.jsonl
Due: none

feat: implement persona & onboarding system
  agent/daemon/persona.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement browser automation capabilities
  agent/daemon/browser.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement cross-platform desktop integration
  agent/daemon/desktop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement hackable installation mode for developers
  agent/daemon/developer_mode.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

chore: update issue status
  .beads/issues.jsonl
Due: none

feat: implement persona & onboarding system (#464)
  agent/daemon/persona.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement browser automation capabilities (#465)
  agent/daemon/browser.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement cross-platform desktop integration (#466)
  agent/daemon/desktop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement hackable installation mode for developers (#467)
  agent/daemon/developer_mode.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

feat: implement hackable installation mode for developers
  .beads/issues.jsonl
  .dev-config.toml
  .dev-scripts/watch-all.sh
  .dev-scripts/watch-python.sh
  .dev-scripts/watch-rust.sh
  DEV_MODE_GUIDE.md
  DEV_SETUP.md
  INSTALL.md
  README.md
  scripts/install-dev-mode.sh
Due: none

fix: resolve flaky approval client tests on CI
  .beads/issues.jsonl
  agent/tests/test_loop_extra.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

fix: add cross-platform test support for Windows/macOS CI
  .beads/issues.jsonl
  docs/CI_CROSS_PLATFORM.md
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260217_195718.json
  orchestrator/.beads/metrics/security-validation-report.json
  orchestrator/.beads/metrics/security-validation-summary.txt
  orchestrator/.beads/metrics/security/security-validation-report.json
  orchestrator/.beads/metrics/security/security-validation-summary.txt
  scripts/test-cross-platform.sh
Due: doc-todo-check

bd sync: 2026-02-17 14:59:42
  .beads/issues.jsonl
Due: none

feat: implement daemon configuration system
  agent/daemon_config.py
  agent/tests/test_daemon_config.py
  example-daemon-config.yaml
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

bd sync: 2026-02-17 15:02:20
  .beads/issues.jsonl
Due: none

feat: implement prometheus metrics export for daemon monitoring
  .beads/issues.jsonl
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
  orchestrator/src/main.rs
  orchestrator/src/metrics.rs
  orchestrator/src/metrics_server.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-17 15:09:28
  .beads/issues.jsonl
Due: none

feat: create comprehensive API documentation (OpenAPI/Swagger)
  .beads/issues.jsonl
  docs/OPENAPI_README.md
  docs/api-guide.md
  docs/openapi.yaml
Due: doc-todo-check

bd sync: 2026-02-17 15:10:54
  .beads/issues.jsonl
Due: none

feat: add prometheus metrics export for daemon monitoring (#472)
  .beads/issues.jsonl
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
  orchestrator/src/main.rs
  orchestrator/src/metrics.rs
  orchestrator/src/metrics_server.rs
Due: rust-coverage-ratchet

docs: add comprehensive OpenAPI/Swagger documentation (#473)
  .beads/issues.jsonl
  docs/OPENAPI_README.md
  docs/api-guide.md
  docs/openapi.yaml
Due: doc-todo-check

feat: implement webhook retry logic with exponential backoff
  .beads/issues.jsonl
  orchestrator/src/lib.rs
  orchestrator/src/webhooks/delivery.rs
  orchestrator/src/webhooks/manager.rs
  orchestrator/src/webhooks/mod.rs
  orchestrator/src/webhooks/queue.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-17 15:13:03
  .beads/issues.jsonl
Due: none

feat: implement webhook retry logic with exponential backoff (#474)
  .beads/issues.jsonl
  orchestrator/src/lib.rs
  orchestrator/src/webhooks/delivery.rs
  orchestrator/src/webhooks/manager.rs
  orchestrator/src/webhooks/mod.rs
  orchestrator/src/webhooks/queue.rs
  orchestrator/src/webhooks/retry.rs
Due: rust-coverage-ratchet

fix(ci): resolve git exit code 128 errors in workflows
  .githooks/pre-commit
  .github/workflows/coverage-ratchet.yml
Due: none

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$
