Repository anchapin/luminaguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-ratchet-check, rust-coverage-ratchet, doc-todo-check, python-complexity, python-docs, python-dead-code

coverage-ratchet-check:
  name: Check coverage ratchet (Python)
  entry: scripts/check-coverage-ratchet.sh
  language: system
  pass_if: true

rust-coverage-ratchet:
  name: Check coverage ratchet (Rust)
  entry: bash -c 'cd orchestrator && cargo tarpaulin --exclude-files "*/tests/*" --timeout 120 -- --test-threads=1 | grep -E "^\d+.\d+% coverage" || echo "No coverage yet"'
  language: system
  pass_if: true

doc-todo-check:
  name: Check docs for TODOs
  entry: bash -c 'if grep -r "TODO\|FIXME\|XXX" docs/ 2>/dev/null; then echo "⚠️  Documentation contains TODOs"; fi'
  language: system
  pass_if: true

python-complexity:
  name: Python complexity check (radon)
  entry: bash -c 'cd agent && source .venv/bin/activate && radon cc . -a -nb'
  language: system
  pass_filenames: false

python-docs:
  name: Python documentation coverage (interrogate)
  entry: bash -c 'cd agent && source .venv/bin/activate && interrogate . --fail-under=60 --vv'
  language: system
  pass_filenames: false

python-dead-code:
  name: Python dead code detection (pycln)
  entry: bash -c 'cd agent && source .venv/bin/activate && pycln . --check'
  language: system
  pass_filenames: false

fix: Add conditional compilation for unused imports in apple_hv and tui modules
  orchestrator/src/approval/tui.rs
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

fix: Remove unused imports in test modules
  orchestrator/src/vm/approval_cliff_tests.rs
  orchestrator/src/vm/seccomp_tests.rs
Due: rust-coverage-ratchet

fix: Add conditional compilation for unused imports in apple_hv and tui
  orchestrator/src/approval/tui.rs
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

feat(security): Complete security integration test suite with red-team and chaos tests
  .beads/issues.jsonl
  .beads/metrics/security/security_integration_report.json
  .beads/metrics/security/security_integration_summary.txt
  orchestrator/Cargo.toml
  orchestrator/src/bin/run_security_tests.rs
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

feat(chaos): Add chaos engineering test runner binary
  .beads/issues.jsonl
  orchestrator/Cargo.toml
  orchestrator/src/bin/run_chaos_tests.rs
Due: rust-coverage-ratchet

feat(production): Complete Week 11-12 Production Readiness Validation
  .beads/issues.jsonl
  .beads/metrics/production/production_readiness_report.md
  .beads/metrics/production/production_readiness_validation.json
Due: none

chore: Update beads status - close production readiness task
  .beads/issues.jsonl
Due: none

docs: Add PR merge summary for Phase 3 production readiness
  .beads/metrics/MERGE_SUMMARY.md
Due: none

fix: Clean up compilation warnings and platform-specific issues
  .beads/issues.jsonl
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/chaos.rs
  orchestrator/src/vm/firewall_tests.rs
  orchestrator/src/vm/network_partition.rs
  orchestrator/src/vm/resource_limits.rs
  orchestrator/src/vm/security_integration_tests.rs
Due: rust-coverage-ratchet

feat: Enhance Approval Cliff TUI with improved diff display
  orchestrator/src/approval/tui.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-16 11:19:25
  .beads/issues.jsonl
Due: none

bd sync: 2026-02-16 11:30:39
  .beads/issues.jsonl
Due: none

docs: Add feature implementation summary for session
  .beads/metrics/FEATURE_SUMMARY.md
Due: none

docs: Record GitHub PR creation session (358, 359, 360)
  .beads/metrics/GITHUB_PRS_CREATED.md
  .beads/metrics/SESSION_COMPLETION.md
Due: none

feat(pool): Implement active VM tracking and task queue management
  .beads/issues.jsonl
  orchestrator/src/vm/pool.rs
Due: rust-coverage-ratchet

feat(firewall): Improve configuration with modes and better error handling
  .beads/issues.jsonl
  orchestrator/src/vm/firewall.rs
Due: rust-coverage-ratchet

feat(seccomp): Enhance syscall whitelisting with better documentation
  .beads/issues.jsonl
  orchestrator/src/vm/seccomp.rs
Due: rust-coverage-ratchet

bd sync: 2026-02-16 11:42:42
  .beads/issues.jsonl
Due: none

docs: Record successful merge of PRs 358, 359, 360
  PR_MERGE_COMPLETION.md
Due: none

docs: Final merge status - all PRs integrated
  MERGE_FINAL_STATUS.md
Due: none

Close completed issues: HTTP Transport, Approval Cliff TUI, Platform compilation fixes
  .beads/issues.jsonl
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260216_164752.json
Due: none

Enable network_partition_tests module (luminaguard-5w3)
  .beads/issues.jsonl
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

Complete Snapshot Pool Phase 2 (lumin- Pool implementationaguard-dbq)
  .beads/issues.jsonl
Due: none

fix(apple_hv): Make test assertion more robust for cross-platform compatibility
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

fix(apple_hv): Use /dev/null for test paths to ensure files don't exist on CI
  orchestrator/src/vm/apple_hv.rs
Due: rust-coverage-ratchet

Phase 2: Snapshot Pool and Firecracker Integration (#361)
  .beads/issues.jsonl
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260216_164752.json
  orchestrator/src/vm/apple_hv.rs
  orchestrator/src/vm/mod.rs
Due: rust-coverage-ratchet

fix(ci): Remove Linux-only condition for artifact download
  .github/workflows/ci.yml
Due: none

fix(ci): Use correct binary name 'luminaguard' in artifact upload
  .github/workflows/ci.yml
Due: none

Add script to download Firecracker VM resources (kernel + rootfs)
  scripts/download-firecracker-resources.sh
Due: none

feat: Integrate Approval Cliff with agent execution flow
  orchestrator/.beads/metrics/reliability/network_partition_test_results_20260216_191238.json
  orchestrator/src/main.rs
Due: rust-coverage-ratchet

docs: Add installation guide (INSTALL.md)
  INSTALL.md
Due: none

feat(pool): Integrate Firecracker snapshot API for fast VM spawn (10-50ms)
  orchestrator/src/vm/pool.rs
Due: rust-coverage-ratchet

feat(perf): Add performance validation tests for issue #373
  orchestrator/src/vm/mod.rs
  orchestrator/src/vm/performance_tests.rs
Due: rust-coverage-ratchet

fix: Use temp directory for tests to avoid permission issues
  orchestrator/src/vm/performance_tests.rs
  orchestrator/src/vm/snapshot.rs
Due: rust-coverage-ratchet

fix: Use temp directory for tests to avoid permission issues
  orchestrator/src/vm/snapshot.rs
Due: rust-coverage-ratchet

feat(approval): Wire Approval Cliff into agent loop (Issue #371)
  agent/loop.py
Due: coverage-ratchet-check, python-complexity, python-docs, python-dead-code

docs: Add quickstart guide (Issue #374)
  QUICKSTART.md
Due: none

fix(hyperv): cast vcpu_count to u32 for Windows build
  orchestrator/src/vm/hyperv.rs
Due: rust-coverage-ratchet

Path conditions:
  coverage-ratchet-check: any of: ^agent/.*\.py$
  rust-coverage-ratchet: any of: ^orchestrator/.*\.rs$
  doc-todo-check: any of: ^docs/.*\.md$
  python-complexity: any of: ^agent/.*\.py$
  python-docs: any of: ^agent/.*\.py$
  python-dead-code: any of: ^agent/.*\.py$
